{% set navItems = [ {
  text: "Operations",
  subitems: [ {
    text: "Finance and Administration",
    url: "#finance-and-administration",
  }, {
    text: "Controller",
    url: "#controller",
  }, {
    text: "Campus Services",
    url: "#campus-services",
  }, {
    text: "Human Resources",
    url: "#human-resources",
  }, {
    text: "Information Technology Services",
    url: "#information-technology-services",
  }, {
    text: "Risk and Compliance",
    url: "#risk-and-compliance",
  } ]
} ] %}

{% react "Nav" with {
  siteTitle: "Compliance Policy Portal",
  homepageUrl: "/",
  hasSearch: false,
  items: navItems
} %}
