{% extends "templates/partials/base.html" %}

{% block title %}Compliance Policy Portal | RISD{% endblock %}

{% block content %}

  <main>
    
    <section class="grid">

      <h1>RISD Institutional Policies</h1>

      <p>This is where we can explain our policies migration plan, governance strategy, and overall timeline. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum lectus mauris ultrices eros in. Aliquam malesuada bibendum arcu vitae elementum. Enim neque volutpat ac tincidunt vitae semper quis. At quis risus sed vulputate odio ut enim blandit volutpat. In massa tempor nec feugiat nisl pretium fusce id. Lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada. Interdum varius sit amet mattis vulputate enim nulla aliquet porttitor.</p>

    </section>

    <section class="grid">
      
      <h2>All Policies, Procedures and Forms</h2>

      <div class="vertical-spacing">
        <form action="#search" method="POST" name="searchDoc">
          <input title="search" type="search" class="light-table-filter" data-table="order-table" placeholder="Search" name="searchwords">
          <button id="hidden-btn" type="submit"></button>
        </form>
      </div>

      <div class="vertical-spacing">
        <p class="fs-7 ff-sans-serif fw-bold">544 documents</p>
      </div>

      <div class="vertical-spacing">
        <table summary="Policy table" class="policies-table">
          <thead>
            <tr>
              <th class="fs-6 policies-table__heading policies-table__heading--policy">Policy</th>
              <th class="fs-6 policies-table__heading policies-table__heading--category">Category</th>
              <th class="fs-6 policies-table__heading policies-table__heading--subcategory">Subcategory</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <a href="https://secure.compliancebridge.com/utaprod/utaportal/index.php?fuseaction=app.download&amp;policyID=250&amp;descriptor=header1" target="_blank">Abandoned and Lost Property</a>
              </td>
              <td>Administration and Campus Operations</td>
              <td>UTA Police Department</td>
            </tr>
            <tr>
              <td>
                <a href="https://secure.compliancebridge.com/utaprod/utaportal/index.php?fuseaction=app.download&amp;policyID=1282&amp;descriptor=header1" target="_blank">Absences and Leaves</a>
              </td>
              <td>Academic Administration and Governance</td>
              <td>Faculty Hiring, Employment, Termination and Retirement</td>
            </tr>
            <tr>
              <td>
                <a href="https://secure.compliancebridge.com/utaprod/utaportal/index.php?fuseaction=app.download&amp;policyID=250&amp;descriptor=header1" target="_blank">Abandoned and Lost Property</a>
              </td>
              <td>Administration and Campus Operations</td>
              <td>UTA Police Department</td>
            </tr>
            <tr>
              <td>
                <a href="https://secure.compliancebridge.com/utaprod/utaportal/index.php?fuseaction=app.download&amp;policyID=1282&amp;descriptor=header1" target="_blank">Absences and Leaves</a>
              </td>
              <td>Academic Administration and Governance</td>
              <td>Faculty Hiring, Employment, Termination and Retirement</td>
            </tr>
            <tr>
              <td>
                <a href="https://secure.compliancebridge.com/utaprod/utaportal/index.php?fuseaction=app.download&amp;policyID=250&amp;descriptor=header1" target="_blank">Abandoned and Lost Property</a>
              </td>
              <td>Administration and Campus Operations</td>
              <td>UTA Police Department</td>
            </tr>
            <tr>
              <td>
                <a href="https://secure.compliancebridge.com/utaprod/utaportal/index.php?fuseaction=app.download&amp;policyID=1282&amp;descriptor=header1" target="_blank">Absences and Leaves</a>
              </td>
              <td>Academic Administration and Governance</td>
              <td>Faculty Hiring, Employment, Termination and Retirement</td>
            </tr>
          </tbody>
        </table>
      </div>

    </section>

  </main>

{% endblock %}
