/**
CB Stylesheet
v.3
**/

/** 
Bootstrap Reset 
**/
.row {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.hrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.panel .col-lg-4 {
    padding: 7px;
}

.grid {
    max-width: 1120px;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/** 
Global
**/
body {
    background: #0f3367 url(https://www.uta.edu/_templates/_images/responsive/site-bg.png) repeat-x;
}

#bg-container {
    text-align: left;
}
#main {
    height: 100%;
    /* background-color: #fff; */
    position: relative;
    top: -4px;
}

#main, #main p {
    font-size: 16px !important;
}

.section {
    background: #fff;
}
body, form, input, p, span, li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main-menu {
    z-index: 5;
    position: relative;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.clear {
    width: 100%;
    height: 1px;
    clear: both;
}

.v-space-10 {
    padding: 5px 0 5px;
}

.v-space-20 {
    padding: 10px 0 10px;
}

.v-space-40 {
    padding: 20px 0 20px;
}

.v-space-80 {
    padding: 40px 0 40px;
}

.logo {
    max-width: 100%;
}

.divider {
    width: 100%;
    height: 1px;
    background: #ddd;
    clear: both;
}

#main a {
    color: #417fe2;
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

#main a:hover {
    color: #f07e25;
}

#footer p, #footer a, #footer li {
    color: #98b3db;
}
/** 
Header & Navigations
**/
.main-menu {
    background: #0064b1;
    padding: 0;
    z-index: 999;
    padding: 0;
    display: block;
}

.main-menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    width: 100%;
    display: table;
    table-layout: fixed; 
    padding: 0;   
}

.main-menu ul li {
    display: table-cell;
    background-color: rgb(0, 100, 177);
    padding: 0;
    border-right: 2px solid #ddd;
    transition: box-shadow 0.3s ease;
}

.main-menu ul li:first-child {
    border-left: 2px solid #ddd;
}

.main-menu ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 5px 0;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
}

.main-menu ul li:hover {
    background: #f07e25;
    box-shadow: 0px 4px 7px 0px rgba(132, 74, 30, 0.47);
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
}

.navbar {
    float: right;
    margin-top: 6px;
    display: none;
    padding-right: 0;
}

.navbar-toggler {
    background: #0064b1;
}

.icon-bar {
    width: 20px;
    height: 2px;
    background: #fff;
    display: block;
    margin: 6px 0;
}

.mobile-menu {
    background: #0064b1;
}

.mobile-menu .p-4 {
    padding: 5px 20px 0 !important;
}

.mobile-menu ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.mobile-menu ul li {
    border-bottom: 1px solid #ddd;
    padding: 20px 0 20px 10px;
}

.mobile-menu ul li:last-child {
    border-bottom: none;
}

.mobile-menu ul li:hover {
    background: #f07e25;
}

.mobile-menu ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: uppercase;
}

/** 
Content
**/
.main-content {
    background: url(../images2/main2.jpg) no-repeat;
    background-size: cover;
    /* padding: 0 0 80px; */
}

.single-content {
    padding: 10px 0px 80px;
    background: #fff; 
}

.content {
    padding: 0 0 0px;
}

.breadcrumb {
    background: none;
    color: #fff;
    text-align: right;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.breadcrumb a {
    color: #ccc !important;
} 

.landing-page-title {
    position: relative;
    padding: 20px 0 0;
    margin-bottom: 10px;
}

.single-page-title {
    width: 100%;
    background: #417fe2;
    padding: 30px 0 10px;
    margin-bottom: 20px;
}

.landing-page-title h1 {
    margin-bottom: 20px;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    color: #fff;
}

.landing-page-title .utsis, .landing-page-title .utsis a {
    color: #fff !important; 
}

.single-page-title h1, .single-page-title h6 {
    color: #fff;
}

.single-page-title h1 {
    font-weight: normal;
}

.single-content h3, .content h3 {
    text-transform: none;
}

.single-page-title .desc {
    color: #fff;
    font-size: 12px;
    margin: 10px 0;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.single-page-title p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 40px;
    line-height: 24px;
}

.title-bar {
    width: 15%;
    height: 12px;
    display: block;
    background: rgba(255,255,255,0.4);
    margin-bottom: 20px;
}

.entry-cta {
    border-radius: 2px;
    display: block;
    overflow: hidden;
    background: #417fe2;
    box-shadow: 0 6px 15px rgba(0,0,0,0.12), 0 6px 20px rgba(0,0,0,0.17);
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
    padding: 0 0 5px 0;
    margin-bottom: 20px;
    border: none;
    max-width: 100%;
    cursor: pointer;
}

.entry-cta:hover {
    box-shadow: 0px 10px 18px 0px rgba(132, 74, 30, 0.47);
    text-decoration: none;
    background: #f07e25;
}

.entry-cta img {
    max-width: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.entry-cta span {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    white-space: normal;
    text-align: left;
    padding-left: 10px;
}

.form-control {
    border: none;
    margin-bottom: 10px;
    padding: 0;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.form-control h2 {
    margin-bottom: 20px;
}

input.light-table-filter {
    padding: 0px 10px;
    height: 30px;
    background: url(../images2/search.png) right 8px bottom 4px no-repeat;
    background-size: 20px;
    padding-right: 40px;
    border: 1px solid #417fe2;
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

input.light-table-filter:hover {
    border: 1px solid #f07e25;
}

.light-table-filter, .select-table-filter {
    width: 30%;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

select {
    width: 200px;
    padding: 5px 35px 5px 10px;
    font-size: 14px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images2/arrow-down.png) 96% / 5% no-repeat #417fe2;
    border: none;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
}

select:hover {
    background: url(../images2/arrow-down.png) 96% / 5% no-repeat #f07e25;
}

table {
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 60px;
}

table.no-margin {
    margin-bottom: 0;
}

th {
    background: #417fe2; /* Old browsers */
}

th.l {
    width: 50%;
}

th.m {
    width: 20%;
}

th.s {
    width: 10%;
}

th.e {
    width: 33%;
}

td a {
    color: #2b2b2b !important;
}

.accor {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 3px;
    transition: all 0.8s cubic-bezier(.25,.8,.25,1);
    color: #666;
    font-weight: lighter;
    float: right;
}

.accor:hover {
    color: #f07e25;
}


.order-table td i.active {
    color: #0064b1;
}

.extra {
    padding: 0;
    background-color: white;
    display: none;
    overflow: hidden;
    font-size: 12px;
    color: #666;
}

.extra a {
    color: #0064b1 !important;
}

.index h3 {
    margin-bottom: 20px;
    color: #2b2b2b;
}

.index .info {
    font-weight: bold;
}

.single-content ol, .single-content ul, .content ol, .content ul {
    margin-bottom: 40px;
}

.index ol, .index ul {
    margin: 0 0 40px;
}

.single-content h2, .single-content h3, .content h2, .content h3 {
    margin-bottom: 20px;
}

.single-content li, .content li {
    margin-bottom: 20px;
}

.single-content ol, .single-content ul, .content ol, .content ul {
   margin-left: 10px;
}

.detail-listing li {
    list-style-type: upper-roman;
    font-size: 24px;
}

.detail-listing li p {
    font-size: 14px;
}

.detail-listing li li {
    list-style-type: upper-alpha;
    font-size: 14px;
}

.detail-listing li li li {
    list-style: decimal;
    font-size: 14px;
}

.rel-info h4 {
    color: #fff;
    margin-bottom: 0;
    background: #3b3b3b;
    display: inline-block;
    width: auto;
    padding: 10px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
}

.cb-content {
    display: none;
    border: none;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}
 
.tab button {
    font-size: 18px;
    font-family: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
    font-weight: lighter;
    padding: 5px 40px;
    background: none;
    border: none;
}

.tab button.active {
    border: 1px solid #ccc;
    border-bottom: none;
}

.subCat .entry-cta {
    border: 1px solid #eee;
    padding: 15px 10px;
    min-height: 80px;
    box-shadow: none;
    border-radius: 2px;    
    background: #417fe2; 
    transition: all 1.8s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 5px 13px rgba(0,0,0,0.12);

}   

.subCat .entry-cta:hover {
    background: #f07e25; 
    box-shadow: 0 9px 16px rgba(0,0,0,0.12);
} 
 
.subCat .entry-cta span {
    padding-left: 0;
}

span.catTitle {
    color: #eee;
    letter-spacing: 1px;
}

.utsis, .utsis a {
    text-align: right;
    font-size: 12px;
    margin-bottom: 0px;
    color: #fff !important;
}

/**
REWRITE UTA DEFAULT TABLE STYLE
**/
#main .table-wrap-inner {
    width: 100% !important;
    max-width: 100% !important;
}

#main table.table-striped tr.even td {
    background: #fff !important;
}

#main .table-striped tbody tr:nth-of-type(odd) {
    background: #fff !important;
}

#main td, #main th {
    border-top: 1px solid #ddd;
    font-size: 14px;
    padding: 12px 10px;
}

#main .table-scroll:after {
    display: none;
}

#main .table-scroll {
    border: none;
}
  
  /* CAUTION: IE hackery ahead */
  
  
select::-ms-expand { 
    display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    }
}

@media only screen and (min-width: 1920px) {
    .single-content {
        padding: 20px 0px 80px;
        background: #fff;
    }
}

@media only screen and (min-width: 760px) {
    #topnav a.help {
        background-position: 0 -140px;
        padding: 0 10px 0 15px;
    } 
}


@media only screen and (min-width: 961px) { 
    .mobile-menu, .navbar {
        display: none !important;
    }
}

@media only screen and (max-width: 960px) { 
    .header {
        height: 70px;
    }
    .main-menu {
        display: none;
    }
    .navbar {
        display: block;
    }
    .logo {
        max-width: 390px;
        min-width: 260px;
        width: 75%;
    }
}

@media only screen and (max-width: 768px) { 
    .landing-page-title {
        top: 0;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 580px) { 
    input.light-table-filter {
        width: 40%;
    }
    .select-table-filter {
        width: 45%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 590px) {  
    .logo {
        max-width: 390px;
        min-width: 260px;
        width: 75%;
        transform: translateX(0%) translateY(3%);
    }
    .main-content {
        background: url(../images2/main2-m.jpg) no-repeat;
        background-size: contain;
    }
}

@media only screen and (max-width: 480px) { 
    .logo {
        transform: translateX(0%) translateY(18%);
    }
    input.light-table-filter {
        width: 100%;
        max-width: 250px;
        margin-bottom: 10px;
    }
    .select-table-filter {
        width: 100%;
        max-width: 302px;
    }
    .tab button {
        padding: 5px 30px;
    }
    .main-content {
        background: url(../images2/main2-m.jpg) no-repeat;
        background-size: contain;
    }
}

@media only screen and (max-width: 360px) {
    input.light-table-filter {
        width: 100%;
        max-width: 210px;
        margin-bottom: 10px;
    }
    .tab button {
        padding: 5px 20px;
    }
}
